:root {
  --cpurple: #8C2CB8;
  --chpurple: #602080;
  --cyellow: #FFF200;
  --clogin: #3E1452;
  --chlogin: #5A1B6D;
}

body {
  margin: 0;
  font-family: 'Comic Sans', cursive;
  background-color: black;
  box-sizing: border-box;
}

.image {
  background-image: url("../img/polus.png");
  filter: blur(10px);
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

#main_content {
  position: absolute;
  top: 0%;
  left: 20%;
  width: 60vw;
  height: 100vh;
  display: block;
  overflow: hidden;
  margin-left: auto; margin-right: auto;
  background-color: rgb(110, 110, 255);
  box-shadow: 0 0 30px 15px rgb(50, 50, 50);
}

.content {
  height: 88.5vh;
  overflow: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.topnav {
  overflow: hidden;
  background-color: #222;
  z-index: 2;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.875em 1em;
  text-decoration: none;
  font-size: 1.0625em;
}

#active {
  background-color: var(--cpurple);
  color: var(--cyellow);
}

.topnav .icon {
  display: none;
  font-size: 1.0625em;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.0625em;    
  border: none;
  outline: none;
  color: white;
  padding: 0.875em 1em;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown#active .dropbtn {
  color: var(--cyellow);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.dropdown#active > .dropdown-content {
  background-color: var(--cpurple);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown#active > .dropdown-content a {
  color: var(--cyellow);
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.topnav a#active:hover, .dropdown#active:hover .dropbtn {
  background-color: var(--chpurple);
  color: var(--cyellow);
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown#active > .dropdown-content a:hover {
  background-color: var(--chpurple);
  color: var(--cyellow);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Login dropdown styling */
.login_bar {
  position: absolute;
  background-color: #3E1452;
  color: white;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 100px;
  z-index: 5;
}

#login_pfp {
	background: white;
  width: 1.25em;
  vertical-align: middle;
  border: 0.125em solid black;
}

#login_name {
  margin: 0;
  vertical-align: middle;
  padding: 0.25em;
}

.dropdown_l {
  float: left;
  overflow: hidden;
  width: 100%;
}

.dropdown_l .dropbtn_l {
  font-size: 1.06205em;    
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content_l {
  display: none;
  position: absolute;
  background-color: var(--clogin);
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

.dropdown-content_l a {
  float: none;
  color: white;
  font-size: 0.90625em;
  padding: 0.25em 0.3em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_l:hover .dropbtn_l, .dropdown-content_l a:hover {
  background-color: var(--chlogin);
}

.dropdown_l:hover .dropdown-content_l {
  display: block;
}


/* Scroll content styling */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: justify;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.content h2 {
  margin: 0 0 0.75em 0;
  padding: 0.75em;
  background-color: rgb(145, 145, 255);
  color: var(--cpurple);
}

.content footer {
  margin: 0.75em 0 0 0;
  padding: 0.75em;
  background-color: rgb(145, 145, 255);
  color: var(--cpurple);
}

.content .img {
  background-color: rgb(145, 145, 255, 0.375);
  width: 20%;
  margin: 0% 2.5% 0% 0%;
  padding: 2.5%;
}

.content .half {
  width: 40%;
  margin: 0 2.5%;
  align-self: center;
}

#space {
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/page.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.gen_button {
  background-color: var(--cpurple);
  color: var(--cyellow);
  border: none;
  max-width: min-content;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 0.65em;
  font-family: 'Comic Sans', cursive;
  border-radius: 0.5em;
}

.gen_button:hover {
  filter: brightness(1.05);
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#but {
  display: flex;
  flex-direction: row;
  column-gap: 0.3em;
}

/* Media queries */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  #main_content {
    left: 7.5%;
    width: 80vw;
  }
}

@media screen and (max-width: 400px) {
    #main_content {
        left: 0;
        width: 100vw;
    }
}

@media screen and (max-width: 800px) {
  #main_content {
    left: 12.5%;
    width: 70vw;
  }
}

@media screen and (min-width: 1000px) {
  .column {
    flex: 1;
  }

  .double-column {
    flex: 2;
  }
}